.default-color0.chart-series-line {
    -fx-stroke: transparent;
}

.default-color0.chart-line-symbol {
    -fx-background-color: coral, white;
}

.default-color1.chart-series-line {
    -fx-stroke: transparent;
}

.default-color1.chart-line-symbol {
    -fx-background-color: darkred, white;
}

.default-color2.chart-series-line {
    -fx-stroke: transparent;
}

.default-color2.chart-line-symbol {
    -fx-background-color: deeppink, white;
}

.default-color3.chart-series-line {
    -fx-stroke: transparent;
}

.default-color3.chart-line-symbol {
    -fx-background-color: lightgreen, white;
}

.default-color4.chart-series-line {
    -fx-stroke: transparent;
}

.default-color4.chart-line-symbol {
    -fx-background-color: mediumblue, white;
}

.default-color5.chart-series-line {
    -fx-stroke: transparent;
}

.default-color5.chart-line-symbol {
    -fx-background-color: olivedrab, white;
}

.default-color6.chart-series-line {
    -fx-stroke: transparent;
}

.default-color6.chart-line-symbol {
    -fx-background-color: rosybrown, white;
}

.default-color7.chart-series-line {
    -fx-stroke: transparent;
}

.default-color7.chart-line-symbol {
    -fx-background-color: blue, white;
}

.default-color8.chart-series-line {
    -fx-stroke: transparent;
}

.default-color8.chart-line-symbol {
    -fx-background-color: orange, white;
}

.default-color9.chart-series-line {
    -fx-stroke: transparent;
}

.default-color9.chart-line-symbol {
    -fx-background-color: peru, white;
}

.default-color10.chart-series-line {
    -fx-stroke: transparent;
}

.default-color10.chart-line-symbol {
    -fx-background-color: aquamarine, white;
}

.default-color11.chart-series-line {
    -fx-stroke: transparent;
}

.default-color11.chart-line-symbol {
    -fx-background-color: gold, white;
}

.default-color12.chart-series-line {
    -fx-stroke: transparent;
}

.default-color12.chart-line-symbol {
    -fx-background-color: orchid, white;
}

.default-color13.chart-series-line {
    -fx-stroke: transparent;
}

.default-color13.chart-line-symbol {
    -fx-background-color: cyan, white;
}

.default-color14.chart-series-line {
    -fx-stroke: transparent;
}

.default-color14.chart-line-symbol {
    -fx-background-color: indigo, white;
}

.default-color15.chart-series-line {
    -fx-stroke: transparent;
}

.default-color15.chart-line-symbol {
    -fx-background-color: lightseagreen, white;
}

.default-color16.chart-series-line {
    -fx-stroke: transparent;
}

.default-color16.chart-line-symbol {
    -fx-background-color: plum, white;
}

.default-color17.chart-series-line {
    -fx-stroke: transparent;
}

.default-color17.chart-line-symbol {
    -fx-background-color: firebrick, white;
}

.default-color18.chart-series-line {
    -fx-stroke: transparent;
}

.default-color18.chart-line-symbol {
    -fx-background-color: magenta, white;
}

.default-color19.chart-series-line {
    -fx-stroke: transparent;
}

.default-color19.chart-line-symbol {
    -fx-background-color: seagreen, white;
}

.default-color20.chart-series-line {
    -fx-stroke: transparent;
}

.default-color20.chart-line-symbol {
    -fx-background-color: purple, white;
}

.default-color21.chart-series-line {
    -fx-stroke: transparent;
}

.default-color21.chart-line-symbol {
    -fx-background-color: green, white;
}

.default-color22.chart-series-line {
    -fx-stroke: transparent;
}

.default-color22.chart-line-symbol {
    -fx-background-color: black, white;
}
